
%tr

  %td= "#{activity.title} (max #{activity.estimation})"

  %td
    .pomodoro-container
      .interruptions
        .internal-interruptions

          - if activity.interruptions
            = for i in 0..activity.interruptions do
              .interruption

        .external-interruptions

      - if activity.pomodoros
        = for i in 0..activity.pomodoros do
          .pomodoro-mark

  %td
    .row.vertical-spaced
      %button.btn.btn-primary(id='fn-add-activity') Delete
