= form_for Activity.new, html: { class: 'form-horizontal vertical-spaced', role: 'form' } do |f|
  #fn-new-activity-form

    .form-group
      = f.label :title, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :title, class: 'form-control', placeholder: 'title'

    .form-group
      = f.label :estimation, 'Estimation (pomodoros)', class: 'col-sm-2 control-label'
      .col-sm-1
        = f.select :estimation, Activity::POMODORO_OPTIONS, {}, { class: 'form-control' }

    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit 'Save', class: 'btn btn-primary'
